.App {
  text-align: center;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("../src/Images/background1.png");
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: "Oswald", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #2f4f4f;
}

a:hover {
  color: #b22222;
}

h1 {
  font-size: 2.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
}

.welcome {
  font-style: italic;
  font-weight: 400;
}

.highlight {
  color: #b22222;
}

.sortBy {
  margin-block-end: 0.3em;
}

.dropDown {
  font-family: "Oswald", sans-serif;
  margin-block-end: 2em;
  border: 2px solid black;
}

.articleSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.articleCard {
  margin: 20px;
  width: 25%;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eaeded;
}

.articleLink {
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
  font-size: 1.1em;
  padding-top: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.author {
  font-style: italic;
  font-size: 0.8em;
  color: #5f6d7a;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
}

.articleScore {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  font-size: 0.7em;
  color: #5f6d7a;
  margin-bottom: auto;
}

.cardPic {
  border: 1px solid black;
  width: 95%;
  align-self: center;
  margin-bottom: 3px;
}

.singleArticle {
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  padding: 1.5em;
  background-color: #eaeded;
  margin-top: 2.5em;
}

.articleTitle {
  margin-block-start: 0;
  font-size: 1.5em;
}

.singleArticleAuthor {
  font-style: italic;
}

.voter {
  display: flex;
  align-items: center;
}

.voteButton {
  border: 1px solid black;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 0.9em;
  padding: 0em;
  text-align: center;
  margin: 0.5em;
}

.voteButton:hover {
  background-color: #b22222;
}

.voteButton:focus {
  outline: none;
}

.voteButton:disabled {
  background-color: white;
}

.commentBox {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2em;
  background-color: #fefbf7;
  text-align: left;
  padding: 1.5em;
}

.textArea {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
}

.textArea:focus {
  outline: none;
  border-color: #b22222;
}

.submitButton {
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
}

.submitButton:hover {
  background-color: #b22222;
}

.submitButton:focus {
  outline: none;
}

.commentTitle {
  margin-block-start: 0;
  font-style: italic;
  font-size: 1em;
}

.commentBody {
  font-style: italic;
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .articleCard {
    width: 80%;
  }

  .singleArticle {
    text-align: center;
  }
}
